{% if questions %}
    <ul>
    {% for question in questions %}
        <li><a href="/question/{{ question.id }}/">{{ question.title }}</a>{{ question.text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p.number == page.number %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
            <a href="{{ paginator.baseurl }}?page={{ p }}">
            {{ p }}</a>
            </li>
    {% endfor %}
    </ul></nav>
